<div>
    <!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">Sub Category</div>
                <div class="float-right">
                    <button type="button" class="btn btn-link float-right" (click)="open(content)">New</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>SR#</th>
                            <th>NAME</th>
                            <th>IMG</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- {{categoryList|json}} -->
                        <tr *ngFor="let data of categoryList; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data.category.name}}</td>
                            <td><img src="{{imgUrl}}{{data.category.img}}" alt="..." class="img-thumbnail" width="50"></td>
                            <TD><button type="button" class="btn btn-link" (click)="deleteByID(data.category.id)">Delete</button></TD>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- modal content start here -->
    <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">{{formTitle}}</div>
                    <!-- Large modal -->
                    <div class="card-body">
                        <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <h4 class="modal-title">{{formTitle}}</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <form role="form">
                                            <fieldset class="form-group">
                                                <label>Sub Category Name</label>
                                                <input class="form-control" name="name" [(ngModel)]="category.name" placeholder="Sub Category Name">
                                            </fieldset>
                            
                                            <fieldset class="form-group">
                                                <label for="exampleInputFile">Image</label>
                                                <input type="file" name="img" (change)="onSelectedFile($event)" />
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label>Main Category</label>
                                                <select class="form-control" name="category_id" [(ngModel)]="category_id" (change)="optionVal()">
                                                    <option *ngFor='let data of subcategoryList1; let i = index;' name value="{{data.category.id}}">
                                                        {{data.category.name}}
                                                    </option>
                                                </select>
                                            </fieldset>                           
                            
                                          
                                            <button type="submit" class="btn btn-secondary btn-sm" (click)="addSubCategory()">Add Sub Category</button>&nbsp;
                                            <button type="reset" class="btn btn-secondary btn-sm">Reset</button>
                            
                                        </form>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                            </div> -->
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal content end here -->
</div>
