<div>
    <!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">Required Document List</div>
                <div class="float-right">
                    <button type="button" class="btn btn-link float-right" (click)="open(content)">New</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>SR#</th>
                            <th>Document Name</th>
                            <th>Required Doc List</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- {{docSubListData|json}} -->
                        <tr *ngFor="let data of docSubListData; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.created}}</td>
                            <TD><button type="button" class="btn btn-link">Delete</button></TD>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- modal content start here -->
    <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">{{formTitle}}</div>
                    <!-- Large modal -->
                    <div class="card-body">
                        <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <h4 class="modal-title">{{formTitle}}</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <form role="form">
                                        <fieldset class="form-group">
                                            <label>Main Category</label>
                                            <select class="form-control" name="id" [(ngModel)]="document.id" (change)="optionVal()">
                                                <option *ngFor='let data of docListData; let i = index;' value="{{data.id}}">
                                                   {{data.name}}
                                                </option>
                                            </select>
                                        </fieldset> 
                    
                                        <div class="form-group">
                                            <label>Required Document List</label><Br>
                                            <label class="checkbox-inline" *ngFor='let data of docSubListData; let i = index;' >
                                                <input type="checkbox"(change)="onChange(data.id, $event.target.checked)">&nbsp;{{data.name}} &nbsp;&nbsp;
                                            </label>
                                        </div>
                                        <!-- <pre>Form values: {{checkboxList.value | json}}</pre> -->
                                        <button type="submit" class="btn btn-secondary btn-sm" (click)="addDocument()">ADD</button>&nbsp;
                                        <button type="reset" class="btn btn-secondary btn-sm">Reset</button>
                        
                                    </form>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                            </div> -->
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal content end here -->
</div>
