<div>
    <!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">Category</div>
                <div class="float-right">
                    <button type="button" class="btn btn-link float-right" (click)="open(content)">New</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>SR#</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>IMG</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- {{categoryList|json}} -->
                        <tr *ngFor="let data of reviewsList; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data.TopTenData.id}}</td>
                            <td>{{data.TopTenData.description}}</td>
                            <TD><button type="button" class="btn btn-link">Delete</button></TD>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- modal content start here -->
    <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">{{formTitle}}</div>
                    <!-- Large modal -->
                    <div class="card-body">
                        <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <h4 class="modal-title">{{formTitle}}</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <form role="form">
                                            <fieldset class="form-group">
                                                <label>Category Name</label>
                                                <input class="form-control" name="name" [(ngModel)]="category.name" placeholder="Category Name">
                                            </fieldset>
                            
                                            <fieldset class="form-group">
                                                <label for="exampleInputFile">Category Image</label>
                                                <!-- <input type="file" class="form-control-file"  id="selectFile" name="selectFile" multiple required> -->
                                                <input type="file" name="img" (change)="onSelectedFile($event)" />
                                            </fieldset>
                            
                                            <fieldset class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control" rows="3" name="description" [(ngModel)]="category.description"></textarea>
                                            </fieldset>
                                            <button type="submit" class="btn btn-secondary" (click)="addCategory()">Submit Button</button>&nbsp;
                                            <button type="reset" class="btn btn-secondary">Reset Button</button>
                            
                                        </form>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                            </div> -->
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal content end here -->
</div>
