<div>
    <!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">SERVICES LIST</div>
                <div class="float-right">
                    <button type="button" class="btn btn-link float-right" (click)="open(content)">New</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>SR#</th>
                            <th>TITLE</th>
                            <th>DESCRIPTION</th>
                            <th>PHOTO</th>
                            <th>PRICE</th>
                            <th>PHONE</th>
                            <th>FEATURE SERVICE?</th>
                         
                         <!--    <th>CATEGORY</th>
                            <th>SUB CATEGORY</th>
                          -->
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- {{categoryList|json}} -->
                        <tr *ngFor="let data of serviceList; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data.category.title}}</td>
                            <td>{{data.category.description}}</td>
                            <td><img src="{{ServicesimgUrl}}{{data.category.photo}}" alt="..." class="img-thumbnail" width="50"></td>
                            <td>{{data.category.price}}</td>
                            <td>{{data.category.phone}}</td>
                            <td>{{data.category.is_feature}}</td>

                            <!-- <td>{{data.categoryName[0].name}}</td>
                            <td>{{data.subcategoryName[0].name}}</td>
                             -->
                            <TD><button type="button" class="btn btn-link" (click)="deleteByID(data.category.id)">Delete</button></TD>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- modal content start here -->
    <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">{{formTitle}}</div>
                    <!-- Large modal -->
                    <div class="card-body">
                        <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <h4 class="modal-title">{{formTitle}}</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <form role="form">
                                            <fieldset class="form-group">
                                                <label>Service Name</label>
                                                <input class="form-control" name="name" [(ngModel)]="service.title" placeholder="Service Name">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label>Select Category</label>
                                                

                                                <select id="Id" #Id="ngModel" class="hideLabel form-control" [(ngModel)]="category_id" name="service.category_id" (change)="selectName(Id.value);">  
                                        <option selected="" value="">Select Category</option>   <option [ngValue]="k.id" *ngFor="let k of nameList">  
                                            {{k.name}}  
                                        </option>  
                                </select>  

                                            </fieldset>

                                            <fieldset class="form-group">
                                                <label>Select Category</label>
                                                

                                                <select id="Id" #SubId="ngModel" class="hideLabel form-control" [(ngModel)]="subcategory_id" name="service.subcategory_id" (change)="selectSubCatName(SubId.value);">  
                                        <option selected="" value="">Select Sub Category</option>   <option [ngValue]="k.id" *ngFor="let k of subnameList">  
                                            {{k.name}}  
                                        </option>  
                                </select>  

                                            </fieldset>
                            
                                            <fieldset class="form-group">
                                                <label>Price</label>
                                                <input class="form-control" name="name" [(ngModel)]="service.price" placeholder="Price">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label>Phone</label>
                                                <input class="form-control" name="name" [(ngModel)]="service.phone" placeholder="Phone">
                                            </fieldset>
                                             <fieldset class="form-group">
                                                <label for="exampleInputFile">Service Image</label>
                                                <!-- <input type="file" class="form-control-file"  id="selectFile" name="selectFile" multiple required> -->
                                                <input type="file" name="img" (change)="onSelectedFile($event)" />
                                            </fieldset>
                                           
                                            <fieldset class="form-group">
                                                <label>Description</label>
                                                <textarea placeholder="Description" class="form-control" rows="3" name="description" [(ngModel)]="service.description"></textarea>
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label>is Feature?</label>
                                                <select class="hideLabel form-control" [(ngModel)]="service.feature" name="feature">  
                                                    <option value="Yes">Yes</option>   
                                                    <option value="No">No</option>
                                                </select>  
                                            </fieldset>
                                            <button type="submit" class="btn btn-secondary" (click)="addService()">Submit Button</button>&nbsp;
                                            <button type="reset" class="btn btn-secondary">Reset Button</button>
                            
                                        </form>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                            </div> -->
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal content end here -->
</div>
